{% extends 'core/base.html' %}

{% block content %}
<!-- <div class="row">
  <div class="col">
    <div class="d-flex panel flex-wrap">
    <form>
        <div class="d-flex flex-row justify-content-between ">
          <div class="d-flex flex-column">#</div>
          <div>Date</div>
          <div>Call sign</div>
          <div>Outbound</div>
          <div>Inbound</div>
          <div>Time from</div>
          <div>Time to</div>
          <div>PAX</div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div>1</div>
          <div><input type="date" placeholder="Date"></div>
          <div><input type="text" placeholder="Call sign"></div>
          <div><input type="text" placeholder="Outbound"></div>
          <div><input type="text" placeholder="Inbound"></div>
          <div><input type="time" placeholder="00:00"></div>
          <div><input type="time" placeholder="00:00"></div>
          <div><input type="number" placeholder="0"></div>

        </div>
      </form>
    </div>
  </div>
</div> -->
<form id="form_container" action="" method="post">
  {% csrf_token %}
    <!-- Time details and Passanger number -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h3>Create a request</h3>
    </div>



    <!-- Plane type -->
    <div class="d-flex">

    </div>


    <div class="pt-3 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h6>Routes</h6>
    </div>

    <!-- Select box Airport              Select box airport          Passenger number:   +
    Departure: Date - Time          Arrival: Date - Time            Y180 -->
    <div class="routes">
      <div class="d-flex route" v-for="(stop, index) in stops" :key="stop.id">
        <div class="identifier d-none">1</div>
        <!-- Departure -->
        <div class="d-flex flex-wrap align-items-center justify-content-between p-2">
          <div class="form-group" style="width: 100%" >
            <label for="departureAirportId">Departure</label>
            <select class="form-control" name="departurAirport" id="departureAirportSelect">
              <option value="LAX">LAX</option>
            </select>
          </div>
          <div class="form-group">
            <label for="departureDate">Date</label>
            <input class="form-control" type="date" name="date" id="departureDate">
          </div>
          <div class="form-group">
            <label for="departureTime">Time</label>
            <input class="form-control" type="time" name="time" id="departureTime">
          </div>
        </div>
        <!-- Arrival -->
        <div class="d-flex flex-wrap justify-content-between p-2">
          <div class="form-group" style="width: 100%" >
            <label for="arrivalAirportId">Arrival</label>
            <select class="form-control" name="departurAirport" id="arrivalAirportSelect"><option value="LAX">LAX</option></select>
          </div>
          <div class="form-group align-self-stretch">
            <label for="arrivalDate">Date</label>
            <input class="form-control" type="date" name="date" id="arrivalDate">
          </div>
          <div class="form-group">
            <label for="arrivalTime">Time</label>
            <input class="form-control" type="time" name="time" id="arrivalTime">
          </div>

        </div>
        <!-- Passengers -->
        <div class="p-2">
          <div class="form-group">
            <label for="passengerNumber">Passenger number:</label>
            <input class="form-control"  type="number" name="" id="passengerNumber" v-model="stop.passengerCount">
          </div>
          <div class="form-group">
              <label for="callSign">Call sign</label>
              <input class="form-control" type="text" name="callSign" id="callSign" placeholder="F3G66A">
          </div>
        </div>
        <div class="d-flex p-2">
          <div class="form-group align-self-center">
              <a class="btn btn-outline-primary" @click="addStop()">+</a>
              <a class="btn btn-outline-danger" v-show="stops.length > 1 && index !== 0" @click="deleteStop(index)">-</a>
          </div>
        </div>
      </div>

    </div>


    <a class="btn btn-primary float-right" @click="createRequest">Create a request</a>
    <input type="submit" class="btn btn-primary float-right" @click="createRequest">Create a request</a>
  </form>
{% endblock %}



{% block custom_javascript %}
<script type="text/javascript">
  new Vue({
    el: '#form_container',
    delimiters: ['${','}'],
    data() {
      return {
        extendPassengerNumber: false,
        stops: [{
          departureAirport: '',
          departureDate: '',
          departureTime: '',
          arrivalAirport: '',
          arrivalDate: '',
          arrivalTime: '',
          passengerCount: null
        }],

      }
    },
    computed: {
      mainPassengerPlaceholder() {
        if (this.extendPassengerNumber) {
          return 'Gentlemen'
        }
        return 'Number of passengers'
      }
    },
    methods: {
      addStop() {
        this.stops.push({id: this.stops.length, outbound: 'TEST', inbound: 'TEST'})
      },
      deleteStop(index) {
        this.stops.splice(index, 1)
      },
      createRequest() {
        let data = {
          planeType: null,
          stops: this.stops
        }
        axios.post(this.$BASE_API_URL + '/requests/', data=data)
      }
    },
  });
 </script>
<!-- <script >
  $(function () {
      $('form').delegate('.btn_add_route', 'click', function (event) {
        $identifier = $(event.currentTarget).closest('.route').find('.identifier').html();
        $total_routes = $('.route').length;
        $route = $(event.currentTarget).closest('.route');
        $cloned = $route.clone();
        $cloned.find('.identifier').html($total_routes+1);
        $cloned.appendTo('.routes');
      });

      $('form').delegate('.btn_delete_route', 'click', function (event) {
        $route = $(event.currentTarget).closest('.route');
        if ($('.route').length > 1) {
          $route.remove();
        }
      });

      $('form').delegate('.btn_add_book', 'click', function () {
          var $this = $(this)
          var author_ptr = $this.attr('id').split('-')[1]
          var $total_author_books = $(':input[name=books_formset_' + author_ptr + '-TOTAL_FORMS]');
          var author_book_form_count = parseInt($total_author_books.val())
          $total_author_books.val(author_book_form_count + 1)

          var $new_book_form = $('<fieldset class="author_book_form">' +
              '<legend>Book</legend>' +
              '<p>' +
              '<label for="id_books_formset_' + author_ptr + '-' + author_book_form_count + '-name">Name:</label>' +
              '<input id="id_books_formset_' + author_ptr + '-' + author_book_form_count + '-name" maxlength="256" name="books_formset_' + author_ptr + '-' + author_book_form_count + '-name" type="text" />' +
              '<input id="id_books_formset_' + author_ptr + '-' + author_book_form_count + '-author" name="books_formset_' + author_ptr + '-' + author_book_form_count + '-author" type="hidden" />' +
              '<input id="id_books_formset_' + author_ptr + '-' + author_book_form_count + '-id" name="books_formset_' + author_ptr + '-' + author_book_form_count + '-id" type="hidden" />' +
              '</p>' +
              '</fieldset>'
          )

          $this.parents('.author_form').find('.author_books').prepend($new_book_form)
      })

      $('form').delegate('#btn_add_author', 'click', function () {
          var $total_authors = $(':input[name=authors_formset-TOTAL_FORMS]');
          author_form_count = parseInt($total_authors.val())
          $total_authors.val(author_form_count + 1)

          book_form = '<fieldset class="author_book_form">' +
              '<legend>Book</legend>' +
              '<p>' +
              '<label for="id_books_formset_' + author_form_count + '-0-name">Name:</label>' +
              '<input id="id_books_formset_' + author_form_count + '-0-name" maxlength="256" name="books_formset_' + author_form_count + '-0-name" type="text" />' +
              '<input id="id_books_formset_' + author_form_count + '-0-author" name="books_formset_' + author_form_count + '-0-author" type="hidden" />' +
              '<input id="id_books_formset_' + author_form_count + '-0-id" name="books_formset_' + author_form_count + '-0-id" type="hidden" />' +
              '</p>' +
              '</fieldset>';

          $new_author_form = $(
              '<fieldset class="author_form">' +
              '<legend>Author</legend>' +
              '<p>' +
              '<label for="id_authors_formset-' + author_form_count + '-name">Name:</label>' +
              '<input id="id_authors_formset-' + author_form_count + '-name" maxlength="256" name="authors_formset-' + author_form_count + '-name" type="text" />' +
              '<input id="id_authors_formset-' + author_form_count + '-publisher" name="authors_formset-' + author_form_count + '-publisher" type="hidden" />' +
              '<input id="id_authors_formset-' + author_form_count + '-id" name="authors_formset-' + author_form_count + '-id" type="hidden" />' +
              '</p>' +
              '<p><input type="button" value="Add Book" class="btn_add_book" id="author-' + author_form_count + '"/></p>' +
              '<div class="author_books">' +
              '<input id="id_books_formset_' + author_form_count + '-TOTAL_FORMS" name="books_formset_' + author_form_count + '-TOTAL_FORMS" type="hidden" value="1" />' +
              '<input id="id_books_formset_' + author_form_count + '-INITIAL_FORMS" name="books_formset_' + author_form_count + '-INITIAL_FORMS" type="hidden" value="0" />' +
              '<input id="id_books_formset_' + author_form_count + '-MAX_NUM_FORMS" name="books_formset_' + author_form_count + '-MAX_NUM_FORMS" type="hidden" value="1000" />' +
              book_form +
              '</div >' +
              '</fieldset >'
          )

          $('#authors').prepend($new_author_form)
      })
  })
</script> -->
{% endblock %}
