{% extends 'core/base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="panel p-2 mb-2">
      <div class="d-flex flex-row justify-content-lg-between panel-header align-items-center">
        <div>Incoming request</div>
        <div><a class="btn btn-primary btn-sm action" href="{% url 'operations:requests-create' %}">Create</a></div>
      </div>
      <div class="d-flex flex-row panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Stops</th>
                <th scope="col">Outbound</th>
                <th scope="col">Inbound</th>
                <th scope="col">Seats</th>
                <th scope="col">Date and time</th>
                <th scope="col">button</th>
              </tr>
            </thead>
              <tbody>
                  {% for acmi_request in recent_requests %}
                  <tr>
                      <th scope="row">{{ acmi_request.stops }}</th>
                      <td>{{ acmi_request.outbound }}</td>
                      <td>MIA</td>
                      <td>180</td>
                      <td>2018-06-03 10:33 AM</td>
                      <td><a href="{% url 'operations:requests-detail' acmi_request.id %}">View</a></td>
                    </tr>
                {% endfor %}

              </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}
