<template>
  <div>
    <div class="panel">
      <form action="" method="post">
        <div class="form-group">
          <label for="companyName">Company name</label>
          <input type="text" class="form-control" id="companyName" aria-describedby="companyNameHelp" placeholder="SkyCo Company" v-model="company.name" required>
          <small id="companyNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div class="badge-warning">{{ errors.name }}</div>
        </div>
        <div class="form-group">
          <label for="companyName">Company registration number</label>
          <input type="text" class="form-control" id="companyRegistrationNumber" aria-describedby="registrationNumberHelp" placeholder="S0meNumb3r" v-model="company.registration_number" required>
          <small id="registrationNumberHelp" class="form-text text-muted">Your company registration number for identification.</small>
          <div class="badge-warning">{{ errors.registration_number }}</div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Phone number</label>
          <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+31 6 26262626" v-model="company.telephone">
          <small id="emailHelp" class="form-text text-muted">A number used to contact you in special cases.</small>
          <div class="badge-warning">{{ errors.telephone }}</div>
        </div>
        <div class="form-group">
          <label for="companyAddress">street address</label>
          <input type="address" class="form-control" id="companyAddress" aria-describedby="companyAddressHelp" placeholder="Fake blvrd. 13 5688WC" v-model="company.street">
          <small id="companyAddressHelp" class="form-text text-muted">The address that you company is registered at.</small>
          <div class="badge-warning">{{ errors.street }}</div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Postal code</label>
          <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="5688WC" v-model="company.post_code">
          <small id="emailHelp" class="form-text text-muted">A number used to contact you in special cases.</small>
          <div class="badge-warning">{{ errors.post_code }}</div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Country</label>
          <input type="country" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Country" v-model="company.country">
          <small id="emailHelp" class="form-text text-muted">Country where your company is registered.</small>
          <div class="badge-warning">{{ errors.country }}</div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Company logo</label>
          <div class="black"></div>
          <small id="emailHelp" class="form-text text-muted">Upload your company logo.</small>
        </div>
      </form>
    </div>
    <div class="action-footer float-right">
      <button @click="save(company)" class="btn action-btn">Save</button>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'

  export default {
    name: 'CompanyDetailEditor',
    data() {
      return {
        errors: {}
      }
    },
    methods: {
      async save(company) {
        let errorObj = {}
        company.email = this.$store.getters['auth/user'].email
        company.user = this.$store.getters['auth/user'].pk
        _.forEach(company, (v, k) => {
          if (_.isNil(company[k])) {
            errorObj[k] = 'This field may not be left blank.'
          }
        })
        this.errors = errorObj
        // If there already is a company in the store, then execute a patch request, otherwise execute post
        // to create a new one.
        if (_.isEmpty(errorObj)) {
          await this.$store.dispatch('COMPANY_UPDATE', company)
        }
      },
    },
    computed: {
      company() {
        const stateCompany = this.$store.getters.company
        if (!_.isEmpty(stateCompany)) {
          return _.cloneDeep(stateCompany)
        }
        return {
          name: null,
          telephone: null,
          street: null,
          post_code: null,
          country: null,
          email: null,
          registration_number: null,
        }
      }
    }
  }
</script>

<style scoped>

</style>
