<template>
  <div>
    <div class="panel">
      <div class="form-group">
        <label for="formGroupExampleInput">Contract name</label>
        <input type="text" v-model="contract.name" class="form-control" id="formGroupExampleInput" placeholder="Name of contract">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput">Default conditions</label>
        <textarea class="form-control" name="" id="" cols="30" rows="10" disabled v-model="contract.default_conditions">
        </textarea>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Additional conditions</label>
        <textarea class="form-control" v-model="contract.additional_conditions" name="" id="" cols="30" rows="10"></textarea>
      </div>
    </div>

    <div class="action-footer float-right">
      <button class="btn action-btn" @click="createContract(contract)">Create</button>
    </div>

  </div>
</template>

<script>
  import _ from 'lodash'

  export default {
    name: 'ContractDetailEditor',
    props: {
      id: {
        required: false,
      }
    },
    computed:{
      contract() {
        const defaultContract = {
          name: '',
          default_conditions: `<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas libero amet laudantium officia saepe eveniet sit architecto veniam deleniti repellendus, doloremque assumenda tempore alias. Accusamus ducimus ipsa alias quibusdam assumenda.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas libero amet laudantium officia saepe eveniet sit architecto veniam deleniti repellendus, doloremque assumenda tempore alias. Accusamus ducimus ipsa alias quibusdam assumenda.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas libero amet laudantium officia saepe eveniet sit architecto veniam deleniti repellendus, doloremque assumenda tempore alias. Accusamus ducimus ipsa alias quibusdam assumenda.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas libero amet laudantium officia saepe eveniet sit architecto veniam deleniti repellendus, doloremque assumenda tempore alias. Accusamus ducimus ipsa alias quibusdam assumenda.
          `,
          additional_conditions: '',
        }
        const contract = _.cloneDeep(this.$store.getters['contracts/getContract'])
        if (this.id === 'create') {
          return defaultContract
        } else {
          return contract || defaultContract
        }
      }
    },
    methods: {
      createContract(contract) {
        let payload = _.cloneDeep(contract)
        if (this.id === 'create') {
          delete payload.id
        }
        this.$store.dispatch('contracts/PROCESS_CONTRACT', payload)
      }
    },
    async created() {
      if (this.id !== 'created')
      await this.$store.dispatch('contracts/GET_CONTRACT', this.id)
    }
  }
</script>

<style scoped>
</style>
