<template>
  <div>
    <input type="text" v-model="name">
    <textarea name="additionalConditions" v-model="additionalConditions" cols="30" rows="10"></textarea>
    {{ additionalConditions}}
  </div>
</template>

<script>

  export default {
    name: 'ContractCreate',
    data() {
      return {
        name: '',
        defaultConditions: '',
        additionalConditions: ''
      }
    },
    methods: {
      create() {
        this.$store.dispatch('contracts/CREATE_CONTRACT')
      }
    }
  }
</script>

<style scoped>

</style>
