<template>
  <div>
    <div class="panel">
      <ul class="contracts-list" v-if="personalContracts">
        <li class="list-item" v-for="(contract, n) in personalContracts" :key="contract.id">
          <router-link :to="{name: 'contractsEditor', params: {id: contract.id}}">
            <div>
              {{ n }} {{ contract.name }}
              </div>
            <div>
              {{ contract.created_at}}
            </div>
          </router-link>
        </li>
      </ul>
      <div v-else>
        <h4>You don't have any contracts yet.</h4>
      </div>
    </div>
  </div>


</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'contractsList',
    computed: {
      ...mapGetters('contracts', ['personalContracts'])
    },
    async created() {
      await this.$store.dispatch('contracts/GET_CONTRACTS')
    }
  }
</script>
