<template>
  <div>
    <div class="panel">
      <div class="requestWrapper d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <div class="column heading">Date required</div>
          <div class="column heading">Outbound</div>
          <div class="column heading">Inbound</div>
          <div class="column heading">Time from</div>
          <div class="column heading">Time to</div>
          <div class="column heading">PAX</div>
          <div class="column heading">
            <button class="btn invisible">
              Responses <span class="badge badge-pill badge-success">2</span>
            </button>
          </div>
        </div>
        <div v-if="requests" class="d-flex flex-row justify-content-between request-item" v-for="request in requests" :key="request.id">
          <div class="column heading">{{ request.routes[0].departure_at }}</div>
          <div class="column heading">{{ request.routes[0].departure }}</div>
          <div class="column heading">{{ request.routes[0].arrival }}</div>
          <div class="column heading">{{ request.routes[0].departure_at }}</div>
          <div class="column heading">{{ request.routes[0].departure_at }}</div>
          <div class="column heading">{{ request.routes[0].passenger_number }}</div>
          <div class="column heading action">
            <router-link :to="{path: `/requests/${request.id}/responses`}" class="btn btn-sm btn-outline-success">
              Responses <span class="badge badge-pill badge-success">{{ request.responses.length }}</span>
            </router-link>
            <button
            class="btn btn-sm btn-danger delete-request"
            @click="DELETE_REQUEST(request.id)"
            >x</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { REQUEST_RETRIEVE_PERSONAL } from '@/store/types'
import ThePageHeader from '@/components/ThePageHeader'

  export default {
    name: 'personalRequests',
    components: { ThePageHeader },
    computed: {
      ...mapGetters({
        requests: 'requests/getPersonal'
      })
    },
    created: function() {
      return this.$store.dispatch(`requests/${REQUEST_RETRIEVE_PERSONAL}`)
    },
    methods: {
      ...mapActions('requests', ['DELETE_REQUEST'])
    }
  }
</script>

<style scoped>
.request-item {
  padding-top: 10px;

}
.request-item .column:not(.action) {
  margin-top: 10px;
}
.delete-request {
  margin-left: 10px
}
</style>
