<template>
  <div>
    <div class="panel">
      <div class="row request-header">
        <div class="col">Stops</div>
        <div class="col">Outbound > Inbound</div>
        <div class="col">ETD</div>
        <div class="col">EDA</div>
        <div class="col">Passengers</div>
        <div class="col">Plane type</div>
        <div class="col"></div>
      </div>
      <div class="row incoming-request-card" v-for="request in getIncoming" :key="request.id">
        <div class="col"></div>
        <div class="col">{{ request.routes[0].departure }} > {{ request.routes[0].arrival }}</div>
        <div class="col">{{ request.routes[0].departure_at }}</div>
        <div class="col">{{ request.routes[0].arrival_at }}</div>
        <div class="col">{{ request.arrival }}</div>
        <div class="col">{{ request.plane }}</div>
        <div class="col">
          <router-link class="btn btn-sm make-offer" :to="{name: 'ResponseCreate', params: {id: request.id, incomingRequest: request}}">Respond</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { createNamespacedHelpers } from 'vuex'

// const { mapGetters, mapActions } = createNamespacedHelpers('requests')
import { mapGetters } from 'vuex';

export default {
  name: 'RequestIncomingList',
  data() {
    return {
      // getIncoming: null
      // incomingList: axios.get('http://localhost:8000/api/v1/requests/')
      // .then(res => {
      //   this.incomingList = res.data
      // })
      // .catch(error => {
      //   //TODO use error
      //   error
      //   return []
      //   // throw error
      // })
    }
  },
  computed: {
    // ...mapGetters(['getIncoming'])
    ...mapGetters('requests', ['getIncoming'])
  },
  created() {
    this.$store.dispatch('requests/INITIALIZE_INCOMING_REQUESTS')
  }
}
</script>

<style scoped>
div.request-header {
  font-weight: 600;
}
.make-offer {
  border-color:green;
  color: green;
}
.make-offer:hover {
  color: white;
  background-color: green;
}
.incoming-request-card {
  border-bottom: 1px gray solid;
  padding-bottom: 10px;
}
</style>
