<template>
  <div class="requestWrapper">
    <div class="d-flex flex-row justify-content-between">
      <div class="align-self-center ml-2">
        <img :src="companyLogo" :alt="companyName" />
        <span v-if="!hasBeenViewed" class="badge badge-pill badge-success">new</span>
      </div>
      <div>
        <div class="font-weight-bold">Proposed arrival</div>
        <div>{{ convertToUTC(proposedArrival) }}</div>
      </div>
      <div>
        <div class="font-weight-bold">Block hour price</div>
        <div>{{ blockHourPrice }}</div>
      </div>
      <div>
        <div class="font-weight-bold">Per diem</div>
        <div>{{ perDiem }}</div>
      </div>
      <div>
        <div class="font-weight-bold">Ferry flight</div>
        <div>{{ isFerry }}</div>
      </div>
      <div>
        <div class="font-weight-bold">Aircraft type</div>
        <div>{{ aircraftType }}</div>
      </div>
      <div>
        <div class="font-weight-bold">PBD ?</div>
        <div>{{ payBeforeDeparture }}</div>
      </div>
      <div v-if="accepted" class="align-self-center">
        <div class="font-weight-bold text-success">Accepted</div>
        <div>
          <router-link :to="{path: `/chat/${chatId}`}" class="btn btn btn-outline-primary">Chat</router-link>
        </div>
      </div>
      <div v-if="displayLink">
        <router-link :to="{path: `/responses/${responseId}`}" class="btn btn btn-outline-success">View response</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'

  export default {
    name: 'RequestResponsesListItem',
    props: {
      responseId: {
        type: String,
        require: true
      },
      companyName: {
        type: String,
        require: true
      },
      companyLogo: {
        type: String,
        require: true
      },
      proposedArrival: {
        type: Number,
        require: true
      },
      blockHourPrice: {
        type: Number,
        require: true
      },
      perDiem: {
        type: Number,
        require: true
      },
      isFerry: {
        type: Boolean,
        require: true
      },
      accepted: {
        type: Boolean,
        require: true
      },
      aircraftType: {
        type: String,
        require: true
      },
      payBeforeDeparture: {
        type: Boolean,
        require: true
      },
      displayLink: {
        type: Boolean,
        require: true
      },
      hasBeenViewed: {
        type: Number,
        require: true
      }
    },
    data() {
      return {
        chatId: 123456
      }
    },
    methods: {
      convertToUTC(unixTimestamp) {
        return moment.utc(unixTimestamp).format('YYYY-MM-DD hh:mm')
      }
    }
  }
</script>

<style scoped>
</style>
