<template>
  <form action="" method="post">
    <!-- Time details and Passanger number -->
    <div v-if="hasError" class="pt-3 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h6>Errors</h6>
    </div>
    <div v-if="hasError" class="alert alert-danger" role="alert">
      {{ errors.response.data }}
      <div v-for="error in errors.response.data.routes" :key="error.id">
        <div v-for="(v, k) in error" :key="k.id">
          <span class="font-weight-bold">{{ k }} field:</span> {{ v[0] }}
        </div>
        <br />
        {{ error.key }} {{ error.value }}
      </div>
    </div>
    <div v-if="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>

    <div class="pt-3 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h6>Routes</h6>
    </div>
    <!-- Select box Airport              Select box airport          Passenger number:   +
    Departure: Date - Time          Arrival: Date - Time            Y180 -->

    <div class="d-flex" v-for="route in routes" :key="route.id">
      <!-- Departure -->
      <div class="d-flex flex-wrap align-items-center justify-content-between p-2">
        <div class="form-group" style="width: 100%" >
          <label for="departureId" class="font-weight-bold">Departure</label>
          <!-- @input="updateRoute(index, $event)" @input="updateRoute(index, route, $event)"  -->
          <input class="form-control" name="departure" @input="updateRoute(route, $event)" :value="route.departure" type="text" required />
        </div>
        <div class="form-group">
          <label for="departureDate">Date</label>
          <input name="departure_date_at" class="form-control" type="date" @input="updateRoute(route, $event)" :value="route.departure_date_at" required />
        </div>
        <div class="form-group">
          <label for="departureTime">Time</label>
          <input class="form-control" type="time" name="departure_time_at" @input="updateRoute(route, $event)" :value="route.departure_time_at" required />
        </div>
      </div>
      <!-- Arrival -->
      <div class="d-flex flex-wrap justify-content-between p-2">
        <div class="form-group" style="width: 100%" >
          <label for="departureId" class="font-weight-bold">Arrival</label>
          <input name="arrival" class="form-control" type="text" @input="updateRoute(route, $event)" :value="route.arrival" required />
        </div>
        <div class="form-group align-self-stretch">
          <label>Date</label>
          <input class="form-control" @input="updateRoute(route, $event)" :value="route.arrival_date_at" type="date" name="arrival_date_at" required />

        </div>
        <div class="form-group">
          <label >Time</label>
          <input class="form-control" type="time" name="arrival_time_at" @input="updateRoute(route, $event)" :value="route.arrival_time_at" required />
        </div>
      </div>
      <!-- Passengers -->
      <div class="p-2">
        <div class="form-group">
          <label for="passengerNumber">Passenger number:</label>
          <input class="form-control"  type="number" name="passenger_number" @input="updateRoute(route, $event)" :value="route.passenger_number" required />
        </div>
        <div class="form-group">
          <label for="callSign">Call sign</label>
          <input class="form-control" type="text" name="call_sign" @input="updateRoute(route, $event)" :value="route.call_sign" placeholder="F3G66A" required />
        </div>
      </div>
      <div class="d-flex p-2">
        <div class="form-group align-self-center">
          <a class="btn btn-outline-primary" @click="addRoute()">+</a>
          <a class="btn btn-outline-danger" v-show="routes.length > 1" @click="deleteRoute(route.id)">-</a>
        </div>
      </div>
    </div>


    <a class="btn btn-primary float-right" @click="createRequest">Create a request</a>
  </form>
</template>

<script>
  import _ from 'lodash'
  import moment from 'moment'
  import { createNamespacedHelpers } from 'vuex'

  const { mapGetters, mapActions } = createNamespacedHelpers('requests')

  export default {
    name: 'RequestCreate',
    data() {
      return {
        extendPassengerNumber: false,
      }
    },
    computed: {
      successMessage: function () {
        if (this.$store.getters['requests/successMessage'] !== '') {
          this.$store.dispatch('requests/resetForm', this.addFreshRoute())
        }
        return this.$store.getters['requests/successMessage']
      },
      ...mapGetters(['hasError', 'errors', 'routes'])
    },
    created() {
      this.$store.dispatch('requests/RESET_SUCCESS_MESSAGE')
      if (this.routes.length < 1) this.insertRoute(this.addFreshRoute())
    },
    methods: {
      addFreshRoute() {
        return {
          id: _.uniqueId(),
          departure: '',

          departure_date_at: '2018-08-15',
          departure_time_at: '10:30',
          departure_at: '',
          departureDate: '',
          departureTime: '',

          arrival: '',
          arrival_date_at: '2018-08-17',
          arrival_time_at: '22:00',
          arrival_at: '',
          arrivalDate: '',
          arrivalTime: '',

          type: 'live',

          passenger_number: 0,
          call_sign: '',
        }
      },
      addRoute() {
        const route = this.addFreshRoute()
        this.insertRoute(route)
      },
      deleteRoute(id) {
        this.$store.dispatch('deleteRoute', id)
      },
      updateRoute: _.debounce(function (route, evt) {
        let clonedRoute = _.cloneDeep(route)
        clonedRoute[evt.target.name] = evt.target.value
        this.$store.dispatch('requests/updateRoute', clonedRoute)
      }, 1000),
      createRequest() {
        const newRoutes = _.cloneDeep(this.routes)
        _.forEach(newRoutes, route => {
          route.departure_at = moment(`${route.departure_date_at} ${route.departure_time_at}`).format('x')
          route.arrival_at = moment(`${route.arrival_date_at} ${route.arrival_time_at}`).format('x')
        })
        this.$store.dispatch('requests/CREATE_REQUEST', {routes: newRoutes})
      },
      ...mapActions(['insertRoute', 'deleteRoute'])
    },
  }
</script>

<style scoped>
div.form-row{
  padding: 10px;
}
</style>
