<template>
  <div>

    <div class="panel" v-for="response in requestResponses" :key="response.id">
      <RequestResponsesListItem
        :response-id="String(response.id)"
        :company-name="response.company.name"
        :company-logo="response.company.logo"
        :proposed-arrival="arrivalDate(response.routes)"
        :block-hour-price="response.price_block_hour"
        :per-diem="response.daily_allowance"
        :is-flight="isFerry(response.routes)"
        :accepted="response.accepted"
        :aircraft-type="response.plane"
        :pay-before-departure="response.early_payment"
        :display-link="true"
        :hasBeenViewed="response.viewed_at"
      />
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import RequestResponsesListItem from '@/components/RequestResponsesListItem'
import { RouteType } from '@/components/constants'
import { mapGetters } from 'vuex';

const arrivalDate = (routes) => {
  if (routes.length > 0) {
    return _.get(routes[0], 'arrival_at')
  }
  return null
}
const isFerry = (routes) => {
  if (routes.length > 0) {
    return _.get(routes[0], 'type') === RouteType.FERRY ? 'Yes' : 'No'
  }
  return null
}


  export default {
    name: 'RequestResponsesList',
    components: {RequestResponsesListItem},
    props: {
      id: {
        type: String,
        require: true
      }
    },
    computed: {
      ...mapGetters('requests', ['requestResponses'])
    },
    created() {
      this.$store.dispatch('requests/POPULATE_RESPONSES', this.id)
    },
    methods: {
      arrivalDate(routes) {
        return arrivalDate(routes)
      },
      isFerry(routes) {
        return isFerry(routes)
      }
    }
  }
</script>

<style scoped>

</style>
