<template>
  <div>
    <ul>
      <li v-for="response in request.responses" :key="response.id">
        <div>company logo</div>

        <div>Proposed arrival</div>
        <div>{{ proposedArrival }}</div>

        <div>Block hour price</div>
        <div>{{ blockHourPrice }}</div>

        <div>Per diem</div>
        <div>{{ blockHourPrice }}</div>

        <div>Ferry flight</div>
        <div>{{ blockHourPrice }}</div>

        <div>Aircraft type</div>
        <div>{{ blockHourPrice }}</div>

        <div>PBD</div>
        <div>{{ paybeforeDeparture }}</div>

        <div>
          <a @click="viewDetails(request.id, response.id)">
            View details
          </a>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
  import moment from 'moment'
  export default {
    name: 'ResponseList',
    data() {
      return {
        proposedArrival: moment.utc(),
        blockHourPrice: 3200,
        perDiem: 80,
        hasFerry: true,
        aircraftType: 'A320'
      }
    },
    methods: {
      async viewDetails(reqeustId, responseId) {
        await this.$router.push({path: `requests/${reqeustId}/responses/${responseId}`})
      }
    }
  }
</script>

<style scoped>

</style>
