<template>
  <div v-if="response">
    <div v-if="hasError" class="pt-3 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h6>Errors</h6>
    </div>
    <div v-if="hasError" class="alert alert-danger" role="alert">
      {{ errors }}
      <div v-for="error in errors" :key="error.id">
        <div v-for="(v, k) in error" :key="k">
          <span class="font-weight-bold">{{ k }} field:</span> {{ v[0] }}
        </div>
        <br />
        {{ error.key }} {{ error.value }}
      </div>
    </div>
    <div v-if="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
    <div class="panel">
      <div class="response-wrapper">
        <p class="h5 skyco-text-gray">Response</p>
        <RequestResponsesListItem
          :response-id="String(response.id)"
          :company-name="response.company.name"
          :company-logo="response.company.logo"
          :proposed-arrival="arrivalDate(response.routes)"
          :block-hour-price="response.price_block_hour"
          :per-diem="response.daily_allowance"
          :is-flight="isFerry(response.routes)"
          :aircraft-type="response.plane"
          :pay-before-departure="response.early_payment"
          :display-link="false"
          :hasBeenViewed="response.viewed_at"
        />
        <TheRoutesWrapper
          class="pt-5"
          :routes="response.routes"
        />
      </div>
      <div class="d-flex flex-row justify-content-between pt-5">
        <div class="contract-container">
          <p class="h5 skyco-text-gray">Contract</p>
          <div class="contract-item" @click="showContract = true">
            <span>{{ response.contract.name }}</span>
          </div>
        </div>
        <div class="pricing-container skyco-text-gray">
          <div class="h5 skyco-text-gray">Pricing summary</div>
          <div class="d-flex flex-row justify-content-between">
            <div class="mr-2">Estimated {{ response.pricing_summary.estimated_hours}} hours </div><div class="mr-2 float-right">€{{ response.pricing_summary.price_sum }}</div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="mr-2">Per diem {{ response.pricing_summary.estimated_days}} hours </div><div class="mr-2 float-right">€{{ response.pricing_summary.total_daily_allowance }}</div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="mr-2">SkyCo commission 2% </div><div class="mr-2 float-right">€{{ response.pricing_summary.commission }}</div>
          </div>
          <div class="d-flex flex-row justify-content-between font-weight-bold pt-5">
            <div class="mr-2">Total price </div><div class="mr-2 float-right">€{{ response.pricing_summary.total_price }}</div>
          </div>
        </div>
      </div>
      <input type="checkbox" v-model="acceptedConditions" class="pt-2" id="conditions">
      <label for="conditions" class="pt-3">
        By checking this checkbox you agree that you have read Terms and Conditions as well as you reviewed and agreed with the contracts provided within this Response
      </label>
    </div>
    <div class="action-buttons float-right">
      <button>Back</button>
      <button :disabled="!acceptedConditions" @click="acceptResponse">Accept response</button>
    </div>
    <ModalComponent
      v-if="showContract"
      @close="showContract = false"
      :header="response.contract.name"
      :default-conditions="response.contract.default_conditions"
      :additional-conditions="response.contract.additional_conditions"
    />

  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import RequestResponsesListItem from '@/components/RequestResponsesListItem'
import { RouteType } from '@/components/constants'
import TheRoutesWrapper from '@/components/TheRoutesWrapper'
import ModalComponent from '@/components/ModalComponent'
import { mapGetters } from 'vuex';

const arrivalDate = (routes) => {
  if (routes.length > 0) {
    return _.get(routes[0], 'arrival_at')
  }
  return null
}
const isFerry = (routes) => {
  if (routes.length > 0) {
    return _.get(routes[0], 'type') === RouteType.FERRY ? 'Yes' : 'No'
  }
  return null
}

  export default {
    name: 'ResponseDetail',
    components: { TheRoutesWrapper, RequestResponsesListItem, ModalComponent },
    props: {
      id: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        showContract: false,
        acceptedConditions: false
      }
    },
    computed: {
      response: function() {
        let response = null

        if (!this.requestResponses) {
          response = this.currentResponse
        } else {
          response = _.find(this.requestResponses, {id: Number(this.id)})
        }

        // if (!_.isNil(response)) {
        //   if (localStorage.getItem(`${response.id}-responseChecked`)) {
        //     localStorage.setItem(`${response.id}-responseChecked`, moment().utc().format('x'))
        //   }
        // }

        return response
      },
      ...mapGetters('requests', ['requestResponses']),
      ...mapGetters('responses', ['currentResponse', 'hasError', 'errors', 'successMessage'])
    },
    created() {
      if (!this.requestResponses) {
        this.$store.dispatch('responses/GET_RESPONSE', this.id)
      }
      if (!_.get(this.response, 'viewed_at')) {
        this.$store.dispatch('responses/MARK_RESPONSE_READ', {
          id: this.response.id,
          viewed_at: moment().utc().format('x'),
        })
      }
      // this.$store.dispatch('contracts/GET_CONTRACT', this.response.contract)
    },
    methods: {
      arrivalDate(routes) {
        return arrivalDate(routes)
      },
      isFerry(routes) {
        return isFerry(routes)
      },
      async acceptResponse() {
        // TODO: Implement accepting response functionality.
        const payload = {
          id: this.response.id,
          acmi_request: this.response.acmi_request,
        }
        await this.$store.dispatch('responses/ACCEPT_RESPONSE', payload)
      }
    }
  }
</script>

<style scoped>
.contract-container {
  min-width: 300px;
}
.contract-item {
  width: 120px;
  height: 120px;
  border: 1px solid gainsboro;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.pricing-container {
  min-width: 300px;
}
</style>
