<template>
  <div>
    <div class="panel">
      <TheRoutesWrapper v-if="editableRoutes" :routes="editableRoutes"> </TheRoutesWrapper>

      <div class="offer-wrapper">
        <p class="h3">
          Your offer
        </p>
        <div class="d-flex">
          <div class="form-group">
            <label for="departureId" class="font-weight-bold">Aircraft type</label>
            <input class="form-control" type="text" v-model="aircraftType" required />
          </div>
          <div class="form-group">
            <label for="departureId" class="font-weight-bold">Block hour rate</label>
            <input class="form-control" type="text" v-model="blockHourRate" required />
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group">
            <label for="departureId" class="font-weight-bold">Aircraft base</label>
            <input class="form-control" type="text" v-model="aircraftBase" required />
          </div>
          <div class="form-group">
            <label for="departureId" class="font-weight-bold">Per diem rate</label>
            <input class="form-control" type="text" v-model="perDiemRate" required />
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group">
            <label for="departureId" class="font-weight-bold">Min. block hour amount</label>
            <input class="form-control" type="text" v-model="minBlockHourAmount" required />
          </div>
        </div>
      </div>

      <div class="additional-checks">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="requirePaymentBeforeDeparture">
          <label class="form-check-label">
            Require payment before departure of ACMI
          </label>
          </div>
      </div>

      <!-- CONTRACT CHOICES -->
      <div class="contracts-wrapper">
        <p class="h3">
          Contracts
        </p>
        <div class="d-flex flex-row">
          <div class="contract">
            <span><button @click="openContracts">Choose</button></span>
            <!-- <div v-for="contract in selectedContracts" :key="contract.id"> -->
            <div v-if="selectedContract">
              {{ selectedContract.name }} <span class="remove-selected" @click="removeSelectedContract">x</span>
            </div>
            <!-- </div> -->
          </div>
          <div v-if="showContractsList" class="contracts-list">
            <div v-for="contract in personalContracts" :key="contract.id">
              <div @click="selectContract(contract)">
                <span class="available-contract">
                  name: {{ contract.name }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CONTRACT CHOICES END -->

      <!-- PROPOSED SCHEDULE -->
      <div v-if="responseRoutes" class="responseWrapper d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <div class="column heading">#</div>
          <div class="column heading">Date</div>
          <div class="column heading">Outbound</div>
          <div class="column heading">Inbound</div>
          <div class="column heading">Time from</div>
          <div class="column heading">Time to</div>
          <div class="column heading">PAX</div>
          <div class="column heading"></div>
        </div>
        <div class="ferry-button d-flex justify-content-center" v-if="!isFirstRouteFerry"><button @click="addFerry('start')">Add ferry</button></div>
        <div class="d-flex flex-row response-container" v-for="route in responseRoutes" :key="route.id">
          <div>{{ route.type }}</div>
          <div><input type="date" name="departure_date_at" v-model="route.departure_date_at" /></div>
          <div>
            <span v-if="route.type === 'ferry'"><input type="text" v-model="route.departure"></span>
            <span v-else>{{ route.departure }}</span>
          </div>
          <div>
             <span v-if="route.type === 'ferry'"><input type="text" v-model="route.arrival"></span>
            <span v-else>{{ route.arrival }}</span>
          </div>
          <div><input type="time" v-model="route.departure_time_at" /></div>
          <div><input type="time" v-model="route.arrival_time_at" /></div>
          <div>{{ route.passenger_number }}</div>
          <div><button v-if="route.isFerry" @click="removeRoute(route)">remove</button></div>
        </div>
        <div class="ferry-button d-flex justify-content-center" v-if="!isLastRouteFerry"><button @click="addFerry('end')">Add ferry</button></div>
      </div>
      <!-- END PROPOSED SCHEDULE -->
      <!-- Error messages -->
      <div class="alert alert-danger" role="error" v-if="errors.length > 0">
        <span v-for="(v, k) in errors" :key="k">
          {{ v }}
        </span>
      </div>
      <!-- Error messages end -->
    </div>
    <div class="action-buttons float-right">
      <button>Cancel</button>
      <button @click="createResponse">Create</button>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import TheRoutesWrapper from '@/components/TheRoutesWrapper'
import { mapGetters, mapActions } from 'vuex';

const RouteType = {
    FERRY: 'ferry',
    LIVE: 'live'
}

  export default {
    name: 'ResponseCreate',
    components: {
      TheRoutesWrapper
    },
    props: {
      id: {
        required: true,
      },
    },
    data() {
      return {
        aircraftType: null,
        blockHourRate: null,
        aircraftBase: null,
        perDiemRate: null,
        minBlockHourAmount: '',
        showContractsList: false,
        editableRoutes: [],
        selectedContract: null,
        requirePaymentBeforeDeparture: false,
        errors: []
      }
    },
    computed: {
      responseRoutes: {
        get: function() {
          if (!_.isEmpty(this.currentRequest)) {
            let responseRoutes = _.cloneDeep(this.editableRoutes)
            _.forEach(responseRoutes, (route) => {
              if (!route['type'] !== RouteType.FERRY) {
                route['departure_date_at'] = !route['departure_date_at'] ? moment(route['departure_at']).format('YYYY-MM-DD') : route['departure_date_at']
                route['departure_time_at'] = !route['departure_time_at'] ? moment(route['departure_at']).format('HH:mm') : route['departure_time_at']
                route['arrival_time_at'] = !route['arrival_time_at'] ? moment(route['arrival_at']).format('HH:mm') : route['arrival_time_at']
              }
            })
            return responseRoutes
          }
        },
        set: function(routes) {
          this.editableRoutes = routes
        },
      },
      isFirstRouteFerry() {
        if (!_.isEmpty(this.responseRoutes))
        return _.eq(_.first(this.responseRoutes).type, RouteType.FERRY)
      },
      isLastRouteFerry() {
        if (!_.isEmpty(this.responseRoutes))
        return _.eq(_.last(this.responseRoutes).type, RouteType.FERRY)
      },
      ...mapGetters('requests', ['currentRequest']),
      ...mapGetters('contracts', ['personalContracts']),
      ...mapGetters('responses', ['successMessage'])
      /*
      Need to retrieve information and store to the state:
        1. Request and its routes.
        2. Contracts.
        3.
      */
    },
    async created() {
      await this.$store.dispatch('requests/GET_REQUEST', this.id)
      this.editableRoutes = this.currentRequest.routes || []
      // this.redirectAfterSuccessfulResponse = _.debounce(this.route, 2000)
    },
    filters: {
      yearDisplay: (value) => {
        if (!value) return ''
        return moment(value).format('YYYY-MM-DD')
      },
      timeDisplay: (value) => {
        if (!value) return ''
        return moment(value).format('HH:mm')
      }
    },
    methods: {
      selectContract(contract) {
        this.selectedContract = contract
      },
      removeSelectedContract() {
        // const contractIndex = this.selectedContracts.indexOf(contract)
        // this.selectedContracts.splice(contractIndex, 1)
        this.selectedContract = null
      },
      openContracts() {
        this.showContractsList = !this.showContractsList
      },
      createResponse() {
        this.validateForm()
        if (this.errors.length > 0) {
          return this.errors
        }

        _.forEach(this.responseRoutes, route => {
          if (route.type === RouteType.FERRY) {
            route['departure_at'] = moment(`${route['departure_date_at']} ${route['departure_time_at']}`).utc().format('x')
            // TODO: Create appropriate arrival date that would be possible on other day as well.
            route['arrival_at'] = moment(`${route['departure_date_at']} ${route['arrival_time_at']}`).utc().format('x')
          }
        })

        let payload = {
          // Parent request
          acmi_request: this.id,
          // Properties
          plane: this.aircraftType,
          price_block_hour: this.blockHourRate,
          base: this.aircraftBase,
          daily_allowance: this.perDiemRate,
          min_block_hour: this.minBlockHourAmount,
          require_payment: this.requirePaymentBeforeDeparture,
          contract: this.selectedContract.id,
          // Arrays
          // contract: this.selectedContracts.map(contract => (contract.id))
          routes: this.responseRoutes,
          }
        this.$store.dispatch('responses/CREATE_RESPONSE', payload)
      },
      addFerry(state) {
        let ferryFlight = {
          id: _.uniqueId(),
          departure: '',

          departure_date_at: '',
          departure_time_at: '',
          departure_at: '',

          arrival: '',
          arrival_date_at: '',
          arrival_time_at: '',
          arrival_at: '',

          type: 'ferry',

          passenger_number: 0,
          call_sign: '',
        }
        if (state === 'start' && this.responseRoutes[0].type !== RouteType.FERRY) {
          this.responseRoutes = [ferryFlight, ...this.responseRoutes]
        } else if (state === 'end' && _.last(this.responseRoutes).type !== RouteType.FERRY) {
          this.responseRoutes = [...this.responseRoutes, ferryFlight]
        }
      },
      validateForm() {
        this.errors = []
        if (_.isNil(this.selectedContract)) {
          this.errors.push({'selectedContract': 'You must select a contract.'})
        }
        if (_.isNil(this.aircraftType)) {
          this.errors.push({'aircraftType': 'Please the type of an aircraft.'})
        }
        if (_.isNil(this.aircraftBase)) {
          this.errors.push({'aircraftBase': 'Please specify the Aircraft base.'})
        }
        if (_.isNil(this.blockHourRate)) {
          this.errors.push({'blockHourRate': 'Pleas specify the block hour rate.'})
        }
        if (_.isNil(this.perDiemRate)) {
          this.errors.push({'perDiemRate': 'Pleas specify the rate of per diem.'})
        }
        if (_.isNil(this.minBlockHourAmount)) {
          this.errors.push({'minBlockHourAmount': 'Pleas specify the minimum block hour amount.'})
        }

        _.forEach(this.responseRoutes, route =>{
          if (route.type === RouteType.LIVE) {
            if (_.isNil(route['departure_at'])) {
              this.errors.push({'departure_at': 'You must specify the departure date.'})
            }
          }
        })
      },
      removeRoute(route) {
        this.responseRoutes = _.pullAllBy(this.responseRoutes, [route])
      },
      ...mapActions('requests', ['CREATE_RESPONSE'])
    },
  }
</script>

<style scoped>
  .requestWrapper .column  {
    width: 100%;
    padding: 5px 10px;
    box-shadow: 0 -1px 0 0 #ECEEEF;
    color: #595D60;
    letter-spacing: 0;
  }

  .requestWrapper .column.heading  {
    font-weight: 600;
  }

  .contracts-wrapper {
    padding: 5px 0;

  }

  .contracts-wrapper .contract {
    padding: 10px 15px;
    border: 1px lightgray solid;
  }

  .available-contract {
    padding: 10px;
    cursor: pointer;
  }

  .remove-selected {
    color: #ff0000;
    font-weight: 500;
  }

  .responseWrapper div.column,
  .responseWrapper .ferry-button,
  .responseWrapper .response-container > div  {
    width: 100%;
    padding: 5px 10px;
    box-shadow: 0 -1px 0 0 #ECEEEF;
    color: #595D60;
    letter-spacing: 0;
  }

</style>
