<template>
  <div>
    <div
      class="d-flex flex-row justify-content-center align-self-center align-items-center empty-list"
      v-if="personalResponses < 1"
    >
      <p class="h4 skyco-text-gray">
        You haven't made any responses yet.
      </p>
    </div>
    <div v-else class="responses">
      <RequestResponsesListItem
        class="panel"
        v-for="response in personalResponses"
        :key="response.id"
        :response-id="String(response.id)"
        :company-name="response.company.name"
        :company-logo="response.company.logo"
        :proposed-arrival="arrivalDate(response.routes)"
        :block-hour-price="response.price_block_hour"
        :per-diem="response.daily_allowance"
        :is-flight="isFerry(response.routes)"
        :accepted="response.accepted"
        :aircraft-type="response.plane"
        :pay-before-departure="response.early_payment"
        :display-link="true"
      />
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import RequestResponsesListItem from '@/components/RequestResponsesListItem'
  import { arrivalDate, isFerry } from '@/components/constants'

  export default {
    name: 'ResponsePersonalList',
    components: { RequestResponsesListItem },
    computed: {
      ...mapGetters('responses', ['personalResponses'])
    },
    created() {
      this.$store.dispatch('responses/GET_PERSONAL')
    },
    methods: {
      arrivalDate(routes) {
        return arrivalDate(routes)
      },
      isFerry(routes) {
        return isFerry(routes)
      }
    },
  }
</script>

<style scoped>
.empty-list {
  min-height: 300px;
}
</style>
