<template>
  <div class="route pt-1 pb-1">
    <div>{{ route.type }}</div>
    <div>{{ departureDate }}</div>
    <div>{{ route.departure }}</div>
    <div>{{ route.arrival }}</div>
    <div>{{ convertToUTC(route.departure_at) }}</div>
    <div>{{ convertToUTC(route.arrival_at) }}</div>
    <div>{{ route.passenger_number }}</div>
  </div>
</template>

<script>
import moment from 'moment'

  export default {
    name: 'routeCard',
    props: ['route'],
    data() {
      return {
      }
    },
    computed: {
      departureDate() {
        if (this.route) {
          return moment(this.route.departure_at).format('YYYY-MM-DD')
        }
        return ''
      }
    },
    methods: {
      convertToUTC(timestamp) {
        return moment.utc(timestamp).format('YYYY-MM-DD hh:mm')
      },
    }
  }
</script>

<style scoped>
.route > div {
   width: 100%;
  padding: 5px 10px;
  box-shadow: 0 -1px 0 0 #ECEEEF;
  color: #595D60;
  letter-spacing: 0;
}
</style>
