<template>
  <textarea name="" v-model="additionalConditions" id="" cols="30" rows="10"></textarea>
</template>

<script>
  export default {
    name: 'TextEditor',
    data() {
      return {
        additionalConditions: ''
      }
    },
    mounted: function() {
      $(this.$el).summernote();
    }
  }
</script>

<style scoped>

</style>
