<template>
  <div class="d-flex flex-column align-content-start pb-2 mb-3 border-bottom">
    <div class="d-flex justify-content-between">
        <div class="h4 skyco-text-gray">
          {{ title }}
        </div>
        <div
          v-if="button"
          class="btn-toolbar mb-2 mb-md-0 align-self-end"
        >
          <router-link
            class="btn btn-sm btn-outline-secondary"
            :to="{path: button.path}"
            append>
            {{ button.name }}
          </router-link>
        </div>
      </div>
      <p class="skyco-text-gray">
        {{ subtitle }}
      </p>
  </div>
</template>

<script>
  export default {
    name: 'ThePageHeader',
    props: {
      title: {
        type: String,
        required: true
      },
      subtitle: {
        type: String,
        required: true
      },
      button: {
        type: Object,
        required: false
      }
    }
  }
</script>

<style scoped>

</style>
