<template>
  <div class="wrapper-div d-flex flex-column">
      <div class="d-flex flex-row justify-content-between">
        <div class="column heading">#</div>
        <div class="column heading">Date</div>
        <div class="column heading">Outbound</div>
        <div class="column heading">Inbound</div>
        <div class="column heading">Time from</div>
        <div class="column heading">Time to</div>
        <div class="column heading">PAX</div>
      </div>
      <div v-if="routes">
        <RouteCard
        v-for="route in routes"
        :key="route.id"
        :route="route"
        class="d-flex flex-row"/>
      </div>
  </div>
</template>

<script>

import RouteCard from '@/components/RouteCard'

  export default {
    name: 'TheRoutesWrapper',
    components: { RouteCard },
    props: {
      routes: {
        // type: Array,
        required: true
      },
    }
  }
</script>

<style scoped>
.wrapper-div .column  {
    width: 100%;
    padding: 5px 10px;
    box-shadow: 0 -1px 0 0 #ECEEEF;
    color: #595D60;
    letter-spacing: 0;
  }

  .wrapper-div .column.heading  {
    font-weight: 600;
    color: #474B4D;
  }
</style>
