<template>
    <nav v-if="user" class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
              <router-link class="nav-link" to="/">
                Incoming requests <span class="badge badge-pill badge-success" v-if="hasNewIncomingRequests">New</span>
              </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/requests/personal">
            <!-- TODO: Implement new responses counter to personal requests. -->
              Your requests <span class="badge badge-pill badge-success" v-if="hasNewReceivedResponses">New responses</span>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/responses/personal">
              Your responses
            </router-link>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Other</span>
          <a class="d-flex align-items-center text-muted" href="#">
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'contractsList' }">Contracts</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" :to="{ name: 'companyEditor' }">Company information</router-link>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>{{ userEmail }}</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <router-link
              class="nav-link"
              v-if="isAuthenticated"
              :to="{path: '/logout'}"
            >
              Logout
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
</template>

<script>
  import _ from 'lodash'
  import { mapGetters } from 'vuex';

  export default {
    name: 'SideMenu',
    props: {
      hasNewIncomingRequests: {
        required: true,
        type: Boolean
      },
      hasNewReceivedResponses: {
        required: true,
        type: Boolean
      }
    },
    computed: {
      userEmail: {
        get() {
          return _.get(this.user, 'email', 'Not available yet')
        }
      },
      ...mapGetters('auth', ['user', 'isAuthenticated'])
    },
    methods: {
      logout() {
        this.$store.dispatch('auth/logout')
      }
    }
  }
</script>

<style scoped>

</style>
