<template>
  <div>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0 logo" href="#">SKY<span class="logo-colored">CO</span></a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <TheSideMenu
          v-if="isAuthenticated"
          :hasNewIncomingRequests="hasNewIncomingRequests"
          :hasNewReceivedResponses="hasNewReceivedResponses"
        />
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <ThePageHeader
            v-if="!!$router.currentRoute.meta"
            :title="$router.currentRoute.meta.title"
            :subtitle="$router.currentRoute.meta.subtitle"
            :button="$router.currentRoute.meta.button"
          />
          <router-view/>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import TheSideMenu from './components/TheSideMenu'
import ThePageHeader from './components/ThePageHeader'
import { mapGetters } from 'vuex';
import session from '@/api/session';

export default {
  name: 'app',
  components: {
    TheSideMenu, ThePageHeader
  },
  data() {
    return {
      hasNewIncomingRequests: false,
      hasNewReceivedResponses: false
    }
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated']),
    ...mapGetters('requests', ['lastIncomingRequest', 'lastReceivedResponse'])
  },
  async created() {
    await this.initializeApplication()
  },
  methods: {
    async executePolling() {
      const { data } = await session.get('api/v1/summary')
      return data
    },
    async updatePollIndicators(pollData) {
      // Sets new incoming requests badge
      const lastRequestDate = pollData['latest_request_date'] || localStorage.getItem('LAST_RECEIVED_REQUEST')
      this.hasNewIncomingRequests = this.lastIncomingRequest < lastRequestDate
      // Sets new received responses badge
      this.hasNewReceivedResponses = this.lastReceivedResponse < pollData['latest_response_date']
    },
    async pollSummary() {
      // TODO: DELETE THE INTERVAL WHEN APPLICATION RELOADS AND RESTART IT
      setInterval(async function () {
        const polledData = await this.executePolling()
        this.updatePollIndicators(polledData)
      }.bind(this), 10000)
    },
    async initializeApplication() {
      // Load User
      if (this.isAuthenticated) {
        this.$store.dispatch('auth/loadUser')
        this.$store.dispatch('LOAD_COMPANY')
        this.$store.dispatch('contracts/GET_CONTRACTS')
      }
      // Load Company
      // Load All the global settings. (TBD)
      this.pollSummary()
    },
  },
}
</script>

<style>
.logo {
  font-size: 24px;
  font-weight: 600;
  background-color: transparent;
  box-shadow: unset;
}
.logo-colored {
  position: absolute;
  padding-top: 6px;
  color: orange;
}
.action-btn {
  color: #ffffff;
  background-color: #364049;
  border-radius: 3px;
  width: 100px;
}
.action-footer {
  padding-top: 10px;
}
</style>
