<template>
  <div id="login-view">
    <form >
      <input v-model="inputs.email" type="text" id="email" placeholder="email">
      <input v-model="inputs.password" type="password" id="password" placeholder="***************">
    </form>
    <input type="submit" @click="login(inputs)" id="login-button" value="Login" />
    <div>
      <router-link to="/register">create account</router-link> |
      <router-link to="/password_reset">reset password</router-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputs: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    login({ email, password }) {
      // TODO: Implement asynchronous login to load all the necessary data to the application after successful login!
      this.$store.dispatch('auth/login', { email, password })
        .then(() => this.$router.push('/'));
    },
  },
};
</script>

<style>
form input {
  display: block
}
</style>
